/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
     /* adding custom fonts */
     font-family: 'gorditaregular', Arial, sans-serif;
    color:#333333;
    /*font-weight: normal;
    font-style: normal;*/
}

p{ 
    font-family: 'gorditamedium', Arial, sans-serif;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:white;
    /*background-image:linear-gradient(to bottom, #A7A7A7 0%, #E4E4E4 51%);*/
    /*font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    */font-size:12px;
    /*height:100vh;*/
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    /*text-transform:uppercase;*/
    width:100%;
}


h3{
    color:#FFFFFF;
    text-transform:uppercase;
    font-family: 'gorditablack', Arial, sans-serif;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    text-transform:uppercase;
    font-family: 'gorditablack', Arial, sans-serif;
    color: #FFFFFF;
}

h2{
    text-transform:uppercase;
    font-family: 'gorditablack', Arial, sans-serif;
    color: #FFFFFF;
}

.event {
    border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

#deviceready.ready .event.listening { display: none; }
#deviceready.ready .event.received { display: block; }

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


@media screen and (prefers-color-scheme: dark) {
    body {
        /*background-image:linear-gradient(to bottom, #585858 0%, #1B1B1B 51%);*/
    }
}

a{
    text-decoration: none;
}

/* Nav bar */
header a{
    float: right;
    margin: 3% 5%;
    border: none;
    height: 40px;
}

header .logo{
    width:10%;
    padding: 15px;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/*HUB*/
#HubList li{
    list-style-type: none;
}

#HubList a {
    text-decoration: none;
    color: white;
}

#HubList{
    padding: 0;
}

/*Only works when clicked not on hover, needs looking into*/
a:hover{
    text-decoration: underline;
}

.Hub{
    padding: 30px;
    font-weight: bold;
    font-size: 300%;
    max-height: 16%;
}

.hub1{
    background-color: #FF9B81;
}

.hub2{
    background-color: #FF3E50;
}

.hub3{
    background-color: #FF6A46;
}

.hub4{
    background-color: #FFBF00;
}

.hub5{
    background-color: #3FD4C2;
}

.hub6{
    background-color: #176671;
}



/*--------------------------------------------------------------------------------------------------------------*/
/*ABOUT*/
#who-we-are{
    color:white;
    background-color: #FF9B81;
    padding: 15px;
}

#who-we-are h1{
    font-weight: bold;
    text-align: left;
}

#w-w-a-p{
    margin:20px;
    /*This needs not be uppercase*/
}

#AboutImg{
    width: 400px;
    height: 200px;
    object-fit: contain;
    padding: 5px;
}

#what-we-do{
    color:white;
    background-color: #3FD4C2;
    padding: 15px;
}

#what-we-do h1{
    font-weight: bold;
    text-align: right;
}

#w-w-d-p{
    margin:20px;
}



/*------------------------------------------------------------------------------------------------------*/
/*PROFILE*/

#profileContainer{
    border-top: solid 4px;
}

#profilePic{
    border-radius: 50%;;
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
}

.profileInfo{
    margin: auto;
    width: 50%;
    text-align: center;
}

#user-name-wrapper h1{
    padding-top: 5px;
    color: black;
}

.p-btn-wrapper{
    padding: 25px;
    margin: 30px;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
}

.p-btn-wrapper a{
    text-decoration: none;
    color: #FFFFFF;
}

#save-btn{
    background-color: #FF9B81;
}

#pref-btn{
    background-color: #FF3E50;
}

#details-btn{
    background-color: #FFBF00;
}

#serv-btn{
    background-color: #176671;
}



/*-----------------------------------------------------------------------------------------------------------------*/
/*CONTACT*/
#contact-us-header-wrapper{
    border-top: black solid 4px;
    color:white;
    background-color: #3FD4C2;
    padding: 15px;
    text-align: center;
}

#contact-us-header-wrapper h1{
    font-weight: bold;
    text-align: left;
}

#contact-us-details-wrapper{
    padding: 25px;
    text-align: center;
    font-size: large;
}

#contact-us-img{
    padding: 5%;
}

/*needs to be at the bottom of the page*/
.git-btn-wrapper{
    padding: 10px;
    font-weight: bold;
    font-size: 200%;
    text-align: center;
}

#web-btn{
    background-color: #FF9B81;
}

#email-btn{
    background-color: #FF3E50;
}

#chat-btn{
    background-color: #176671;
}

#social-media-ics-wrapper{
    text-align: center;
    
}

#social-media-ics-wrapper img{
        width: 50px;
        height: 50px;
        padding: 15px;    
}



/*--------------------------------------------------------------------------------------------------------*/
/* QUIZ PAGES */

.bar{
    display: block;
    width:100%;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#questionHead{
    color: white;
    font-size: small;
}

.quiz{
    background-color: #FEFDFA;
}

#x{
    margin-top: 2%;
    margin-right: 2%;
    padding: 5px 10px;
    float: right;
}

#question{
    padding: 3% 5%;
}

#inputName{
    margin: 25% auto;
    padding: 1%;
    display: block;
}

/*--------------------------------------------------------------------------------------------------------*/
/* ARTICLES*/
#articles-content{
    background-image:url(../img/ellipse.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 2% -0.5%;
    border-top: solid thick #000000;
}

/* title*/
#feed-header-wrapper{
    margin: 5%;
    padding-top: 7%;
}

#feed-header-wrapper h1{
    text-align:left;
    color: black;
}

/* filters */
#feed-topic-filters-wrapper {
    width: 100%;
}

#feed-topic-filters-wrapper select{
    width:25%;
    float: left;
    padding: 2%;
    margin-right: 4%;  
    border: 1px solid #176671;
    color: #176671;
}
#feed-topic-filters-wrapper select:focus {
    outline: none;
}

#feed-topic-filters-wrapper button{
    width:25%;
    float: left;
    padding: 2.25% 2%;
    margin-right: 4%;  
    border: 1px solid #176671;
    color: #176671;
}

#feed-topic-filters-wrapper form{
    margin-left: 10%;
}

#empty{
    clear: both;
}

/* articles sections */

.article-wrapper{
    clear: both;
    border: solid medium #000000;
    padding: 5%;
    margin-top: 5%;
}

.article-wrapper p{
    text-transform:lowercase;
    font-size: small;
}

.article-wrapper button{
    float: right;
    padding: 2%;
    background:url(../img/icon_heart.png);
    width: 24px;
    height: 24px;
    border: none;
}

.article-wrapper button:active{
    background:url(../img/icon_heart_full.png);
}

.colGreen{
    color: #176671;
}
.colRed{
    color: #FF3E50;
}
.colYellow{
    color: #FFBF00;
}
.colTurqu{
    color: #3FD4C2;
}

.oddNum {
    margin-left: 0%;
    margin-right: 10%;
    border-left: none;
}

.evenNum {
    margin-left: 10%;
    margin-right: 0%;
    border-right: none;
}

/*--------------------------------------------------------------------------------------------------------*/
/* AN ARTICLE*/

/* Background */
article{
    border-top: solid thick #000000;
    background-image:url(../img/ellipse.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: -10% 35%;
}

/* Text */
article h2{
    padding: 5%;
    background-color: #FFBF00;
    margin-top: 0%;
}

article p{
    padding: 2% 5%;
    font-size: smaller;
}
article b{
    color: #FFBF00;
}

/* Photos */
#article_photo1{
    float: right;
    width: 50%;
    padding-left: 2%;
}

#article_photo2{
    float: left;
    width: 50%;
    padding-right: 2%;
}

/*--------------------------------------------------------------------------------------------------------*/
/* SERVICES */

/* Title */
#services-content{
    border-top: solid thick #000000;
    background-image:url(../img/ellipse3.png);
    background-repeat: no-repeat;
    background-size: 13%;
    background-position: 43% 6%;
    text-align: center;
}
#titleSection{
    margin: 5%;
    padding-top: 7%;
}
#titleSection h1{
    text-align:left;
    margin: 5%;
    color: black;
}
/* Search bar */
#services-content select{
    width:80%;
    padding:2%;
    margin-top: 2%;
    border: 1px solid #FF9B81;
    font-family: 'gorditamedium', Arial, sans-serif;
}

#services-content select:focus {
    outline: none;
}

.servicesContainer{
    margin:5% 10%;
    padding:3%;
    border: 1px solid #FF9B81;
    text-align: center;
}
.servicesContainer img{
    width:80%;
    padding-left: 9%;
}

#servicesMap{
    width:100%;
    margin-top: 5%;
    border-top: 5px solid #FF9B81;
    border-bottom: 5px solid #FF9B81;
}

#servicesContainerMap{
    border: none;
    padding:0px;
}

.servicesContainer button{
    float: right;
    padding: 2%;
    background:url(../img/icon_heart.png);
    width: 24px;
    height: 24px;
    border: none;;
}

.servicesContainer button:active{
    background:url(../img/icon_heart_full.png);
}

.servicesContainer h3{
    color: #333333;
    font-family: 'gorditamedium', Arial, sans-serif;
}

/* Menu */

#menuColours a{
    text-decoration: none;
    color: white;
}

#menuColours{
    padding:0%;
}
#menuColours li{
    padding: 5%;
    margin: 5% 0%;
    font-family: 'gorditablack', Arial, sans-serif;
    font-weight: bold;
    font-size: 200%;
    text-decoration: none;
}
#menuColour1{
    background-color: #FF9B81;
}
#menuColour2{
    background-color: #FF6A46;
}
#menuColour3{
    background-color: #FF3E50
}
#menuColour4{
    background-color: #FFBF00;
}
#menuColour5{
    background-color: #3FD4C2;
}
#menuColour6{
    background-color: #176671
}
