@media screen and (max-height: 640 ){
    
    
    .row{
        margin: 0;
        height: 37%;
        width: 100%;
        float: left;
    }
    
    #question{
        padding: 3% 5%;
        font-size: 15px;
    }
    
    
    
    .headRow{
        display:block;
        height:10%;
        width:100%;
    }
    
    .decoration{ 
        height: 30px;
        margin-top: 45%;
    }
    
    
    #inputName{
        margin: 25% auto;
        padding: 1%;
        display: block;
    }
    
}